
body{
color: blue;
background-color: pink;
}

#wrapperDiv{
width : 906px;
height: 800px;
background-color: pink;
margin : auto;
}

#headerDiv{
width : 900px;
height: 200px;
border: solid black 1px;
background-color:  #ffccff;
margin: auto;
}





#navDiv{
width : 900px;
height: 50px;
border: solid black 1px;
background-color: #99ff99;
margin: auto;
}

#bodyDiv{
width : 900px;
height: 450px;
border: solid black 1px;
background-color: #ffffcc;

}

#footerDiv{
width : 900px;
height: 100px;
border: solid black 1px;
background-color: #99ff99;

}

.buttonDiv{
width : 130px;
height: 40px;
border: solid black 1px;
background-color: white;
float:left;
margin: 5px;
padding:  15px
margin-left: : 20px;
test-align: center;

}
